<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico"/> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css'/>
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('/images/bg-01.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Editing Agent Deatils
				</span>
				<form class="login100-form validate-form p-b-33 p-t-5" action="/update" method="post">
                    <input type="hidden" name="id" value="<%= records._id%>">
                    <div class="wrap-input1001 validate-input" data-validate = "Enter name">
                    <label  class="input1001" for="Name"><b>Name</b></label>
                    <input  class="input100" type="text" placeholder="Enter name" name="name" value = "<%=records.name%>" required>
                    </div>
                
                    <div class="wrap-input1001 validate-input" data-validate = "Enter address">
                        <label  class="input1001" for="address"><b>Address</b></label>
                        <input  class="input100" type="text" placeholder="Enter address" name="address" value = "<%=records.address%>" required>
                    </div>
                

                    <div class="wrap-input1001 validate-input" data-validate = "Enter Mobile No.">
                        <label  class="input1001" for="mobile"><b>Mobile</b></label>
                        <input  class="input100" type="Number" placeholder="Enter Mobile No." name="mobile" value = "<%=records.mobile%>" required>
                    </div>

					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn">
							Update
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/javascripts/main.js"></script>

</body>
</html>